body {
    color:#758193;
    background:#f8f9fb;
}

a {
    text-decoration: none;
    color:#179bd1
}



.card {
    padding: 20px;
    border-radius:5px
}

.card.card--blue {
    border-top:2px solid #179bd1
}

.card.card--green {
    border-top:2px solid #7fcd69
}

.card.card--red {
    border-top:2px solid #f77b7c
}

.colour-blue {
    color:#179bd1
}

.colour-green {
    color:#7fcd69
}

.colour-red {
    color:#f77b7c
}

.colour-grey {
    color:#808080
}
