body {
    color:#758193;
    background:#f8f9fb;
    font-family: Muli;
    font-weight:400
}

body h1, h2 {
    color:#000
}

h1, h2 {
    font-weight:600
}

h2 {
    font-size:1.25em
}

h3 {
    font-size:1em
}

a {
    text-decoration: none;
    color:#179bd1
}

.navbar {
    border-bottom:1px solid #e4e8eb;
    height:70px
}

.card {
    padding: 20px;
    border-radius:5px
}

.card.card--blue {
    border-top:2px solid #179bd1
}

.card.card--green {
    border-top:2px solid #7fcd69
}

.card.card--red {
    border-top:2px solid #f77b7c
}

.color-blue {
    color:#179bd1
}

.color-green {
    color:#7fcd69
}

.color-red {
    color:#f77b7c
}
